= form_for @procategory do |f|
  - if @procategory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@procategory.errors.count, "error")} prohibited this procategory from being saved:"
      %ul
        - @procategory.errors.full_messages.each do |msg|
          %li= msg
  .field
    .label
      = f.label :name
    .content
      = f.text_field :name
  .field
    .label
      = f.label :ddc
    .content
      = f.select :ddc, @father.variable_ddcs
  .field
    .label
      = f.label :description
    .content
      = f.text_area :description
  .actions
    = f.submit t("views.save")
