.post
  %h2.title
    = t("views.procategory.procategories_list")
  %h3.posted
    = format_date(DateTime.now)
  .story
    %p
      %img{:alt => "", :height => "140", :src => "../assets/procategories.jpg", :width => "470"}/
    %p
      %strong
        = t("views.procategory.procategories_list")
      = t("views.procategory.procategories_description", now: format_date(DateTime.now))
  .meta
    %p
      = t("views.procategory.procategories_count")+': '
      = Procategory.all.count
= link_to '...', procategories_path
- father = @procategory.father
- father_array = Array.new
- while father
  - father_array << father
  - father = father.father
- father_array.each do |pc|
  >>
  = link_to pc.name, pc
>>
= @procategory.name
.procategory_description
  = @procategory.description
%ul
  - @procategories.each do |pc|
    %li
      - if pc.id == @procategory.id
        = pc.ddc + ' - ' + pc.name
        %ul
          - pc.children.each do |child|
            %li
              = link_to(child.ddc + ' - ' + child.name, child)
      - else
        = link_to(pc.ddc + ' - ' + pc.name, pc)

  - @father = @procategory.father
  - if @father && @father.variable_ddcs.count > 0
    %h2
      = t("views.procategory.new_procategory")
    - @procategory = Procategory.new
    = render partial: 'form'