.post
  %h2.title
    = t("views.procategory.procategories_list")
  %h3.posted
    = format_date(DateTime.now)
  .story
    %p
      %marquee{behavior: 'slide', direction: 'down', id: 'marquee_panel'}
        %img{:alt => "", :height => "140", :src => "../assets/procategories.jpg", :width => "470"}/
    %p
      %marquee{behavior: 'scroll', direction: 'up', id: 'marquee_description', scrollamount: 1}
        %strong
          = t("views.procategory.procategories_list")
        = t("views.procategory.procategories_description", now: format_date(DateTime.now))
  .meta
    %p
      = t("views.procategory.procategories_count")+': '
      = Procategory.all.count
%ul
  - @procategories.each do |pc|
    %li
      = link_to(pc.ddc + ' - ' + pc.name, pc)
      >>
      = link_to t("activerecord.models.project"), projects_path(procategory_id: pc.id)
= paginate @procategories