.post
  %h2.title
    = t("views.procategory.procategories_list")
  %h3.posted
    = format_date(DateTime.now)
  .story
    %p
      %img{:alt => "", :height => "140", :src => "../assets/procategories.jpg", :width => "470"}/
    %p
      %strong
        = t("views.procategory.procategories_list")
      = t("views.procategory.procategories_description", now: format_date(DateTime.now))
  .meta
    %p
      = t("views.procategory.procategories_count")+': '
      = Procategory.all.count
%ul
  - @procategories.each do |pc|
    %li
      = pc.ddc + ' - ' + pc.name
= paginate @procategories