.post
  %h2.title
    = t("views.procategory.procategories_list")
  %h3.posted
    = format_date(DateTime.now)
  .story
    %p
      %marquee{behavior: 'slide', direction: 'down', id: 'marquee_panel'}
        %img{:alt => "", :height => "140", :src => "../assets/procategories.jpg", :width => "470"}/
    %p
      %marquee{behavior: 'scroll', direction: 'up', id: 'marquee_description', scrollamount: 1}
        %strong
          = t("views.procategory.procategories_list")
        = t("views.procategory.procategories_description", now: format_date(DateTime.now))
  .meta
    %p
      = t("views.procategory.procategories_count")+': '
      = Procategory.all.count
%marquee{:behavior => "scroll", :direction => "left", scrollamount: 2}
  = link_to '...', procategories_path
  - number = @procategory.family_tree.count - 1
  - while number >= 0
    >>
    - pc = @procategory.family_tree[number]
    = link_to pc.name, pc
    - number -= 1
  >>
  = @procategory.name
.procategory_description
  = @procategory.description
%ul
  - @procategories.each do |pc|
    %li
      - if pc.id == @procategory.id
        = pc.ddc + ' - ' + pc.name
        >>
        = link_to t("activerecord.models.project"), projects_path(procategory_id: pc.id)
        %ul
          - pc.children.each do |child|
            %li
              = link_to(child.ddc + ' - ' + child.name, child)
              >>
              = link_to t("activerecord.models.project"), projects_path(procategory_id: child.id)
      - else
        = link_to(pc.ddc + ' - ' + pc.name, pc)
        >>
        = link_to t("activerecord.models.project"), projects_path(procategory_id: pc.id)

  - @father = @procategory.father
  - if @father && @father.variable_ddcs.count > 0
    %h2
      = t("views.procategory.new_procategory")
    - @procategory = Procategory.new
    = render partial: 'form'