%p#notice= notice

%p
  %b Name:
  = @procategory.name
%p
  %b Description:
  = @procategory.description
%p
  %b Ddc:
  = @procategory.ddc
%p
  %b Status:
  = @procategory.status

= link_to 'Edit', edit_procategory_path(@procategory)
\|
= link_to 'Back', procategories_path
