.post
  %h2.title
    = link_to @project.title, @project
  %h3.posted
    = format_date(@project.created_at)
  .story
    %p
      - if @project.photo.url.split('/').last == 'missing.png'
        = link_to image_tag("missing_panel.png"), @project
      - else
        = link_to image_tag(!project.photo.url(:thumb)), @project
    %p
      = @project.description
- if (user_signed_in? && !current_user.is_staff?)&&(!project_be_bought(@project.id, current_user.id))
  = link_to("Buy", items_path(project_id: @project.id), method: :post)