= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .field
    .label
      = f.label :procategory_id
    .content
      = f.select :procategory_id, options_for_select(Procategory.all.order(:ddc).map{|c| [truncate(c.full_name, length: 50), c.id]}, @project.procategory_id)
  .field
    .label
      = f.label :title
    .content
      = f.text_field :title
  .field
    .label
      = f.label :description
    .content
      = f.text_area :description
  .field
    .label
      = f.label :photo
    .content
      = f.file_field :photo
  .actions
    = f.submit t("views.save")
