.post
  %h2.title
    = @project.title
  %h3.posted
    = format_date(@project.created_at).to_s + ' by ' + @project.user.email
  .story
    %p
      = image_tag @project.photo.url(:medium)
    %p
      %em
        %strong Baron's Blog
      is a free template from
      %strong Free CSS Templates
      released under a
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/2.5/"} Creative Commons Attribution 2.5 License
  .meta
    %p
      = t("activerecord.models.procategory")
      = link_to truncate(@project.procategory.name, length: 40), @project.procategory
      |
      = link_to 'Edit', edit_project_path(@project)
      |
      = link_to 'Back', projects_path
.post
  %h2.title
    = t("activerecord.models.attachment")
  %h3.posted
    = t("views.attachment.lastest_uploading") + ':'
    = format_date(@lastest_attachment.created_at)
  = render "/attachments/form"
  .story.attachments_story
    - number = sequence_number(params[:page],2)
    - @attachments.each do |at|
      - if at.file_file_name
        .number
          = number.to_s + '.'
        .attachment_name
          = at.file_file_name + ' (' + (at.file_file_size / 1024).to_s + ' KB' + ')'
        .action
          = link_to(t("views.destroy"), at, :method => :delete, :data => { :confirm => t("views.confirm") })
        - number += 1
    = paginate @attachments
