.post
  %h2.title
    = t("views.project.projects_list")
  %h3.posted
    = format_date(DateTime.now)
  .story
    %p
      %marquee{behavior: 'slide', direction: 'down', id: 'marquee_panel'}
        %img{:alt => "", :height => "140", :src => "../assets/projects.jpg", :width => "470"}/
    %p
      %marquee{behavior: 'scroll', direction: 'up', id: 'marquee_description', scrollamount: 1}
        %strong
          = t("views.project.projects_list")
        = t("views.project.projects_description", now: format_date(DateTime.now))
  .meta
    %p
      = t("views.project.projects_count")+': '
      = current_user.projects.count

%table.projects-table
  %thead
    %tr
      %th.number
        = t("views.number")
      %th.body
        = t("activerecord.models.project")
  %tbody
    - flag = sequence_number(params[:page], 20)
    - @projects.each do |project|
      %tr{class: cycle('list_line_odd', 'list_line_even')}
        %td.number
          = flag
          - flag+= 1
        %td.body
          = link_to project.title, project
= paginate @projects
= link_to t("views.new"), new_project_path